{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <title>Dashboard</title>
  </head>
  <body style="padding-top:55px;">
   

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">
                  <span data-feather="file"></span>
                  Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'session' %}">
                  <span data-feather="shopping-cart"></span>
                  Sessions
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <canvas class="my-4" id="myChart" width="900" height="380"></canvas>

          </div>
        </main>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
   
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace();
    </script>

    <!-- Graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: {{datetime|safe}},
            datasets: [
              {
                tension: 0,
                label: "Correct form",
                data: {{cf_per|safe}},
                fill: true,
                backgroundColor: 'rgba(111, 231, 219, 0.4)',
                borderColor: [
                  'rgba(111, 231, 219, 1)',
                ],
                borderWidth: 4,
                pointBackgroundColor: 'white',
                pointBorderColor: 'rgba(111, 231, 219, 1)',
                pointRadius: 6,
                pointHitRadius: 15,
                pointHoverRadius: 8,
                pointHoverBorderWidth: 4,
              },
            ],
          },
          options: {
            plugins: {
              title: {
                display: true,
                text: 'Progress Chart',
                font : {
                  size: 35
                }
              },
              legend: {
                labels: {
                  font: {
                    size: 15
                  },
                },
              },
              tooltip: {
                callbacks: {
                  label: function(context) {
                    return 'Correct form: ' + context.raw + '%'
                  }
                }
              },
            },
            scales: {
              x: {
                title: {
                  display: true,
                  text: 'Session',
                  font: {
                    size: 20
                  },
                },
                ticks: {
                  font: {
                    size: 15
                  },
                },
              },
              y: {
                title: {
                  display: true,
                  text: 'Correct Form (%)',
                  font: {
                    size: 20
                  }
                },
                ticks: {
                  font: {
                    size: 15
                  },
                },
              },
            }
          },
        });
    </script>
  </body>
</html>

{% endblock %}
