<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {{ exercise.title }}
    <br />
    <br />

    <img width="100" height="100" src="{{ details.gif_1.url }}" alt="" />
    <img width="100" height="100" src="{{ details.gif_2.url }}" alt="" />

    <br />
    <br />

    <a href="{% url 'main:app' exercise.id%}"
      ><button>Start Exercise</button></a
    >
  </body>
</html>
