<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Kameron:wght@700&family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <div
      id="left-screen"
      style="
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
      "
    >
      <img
        style="
          position: absolute;
          right: 3%;
          transform: translateX(-50%) scaleX(1);
          height: 100%;
        "
        src="{% url 'main:webcam_feed' %}"
      />
    </div>
    <div
      style="
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url('{{ videos.video.url }}');
        background-size: cover;
        overflow: hidden;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width:40%;
        text-align: left;
        padding: 30px;
        box-sizing: border-box;
        line-height:1.1;
        
      "
      id="left-screen"
    >
      <div
        id="real1"
        class="text"
        style="
          padding: 0;
          color: rgb(142, 166, 235);
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 90px;
        "
      ></div>
      <div
        id="real2"
        class="text"
        style="
          margin-top: 50px;
          color: rgb(105, 211, 111);
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 90px;
        "
      ></div>
    </div>
    <div
      id="reps-outer"
      style="
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 70px;
        position: fixed;
        left: 0;
        top: 14px;
        width: 100%;
      "
    >
      Reps:
      <div
        id="reps"
        style="
          font-family: 'Kameron', sans-serif;
          font-size: 100px;
          color: rgb(142, 166, 235);
          position: fixed;
          top: 0;
          width: 100%;
          margin-left: 200px;
        "
      ></div>
    </div>

    <script>
      var eventsource = new EventSource("{% url 'main:realtime_feed' %}");
      eventsource.onopen = function () {
        console.log("we have open connection");
      };

      eventsource.onmessage = function (e) {
        final_data = JSON.parse(e.data);

        content = [];

        final_data.forEach(function (item) {
          content += item;
        });

        content = content.replace(",", "");
        content = content.split(/(?=[A-Z])|(?=[0-9]+)/);
        console.log(content);

        let a = -1;

        if (content[0].length > 3) {
          if (content[1].length > 3) {
            document.querySelector("#real1").style.color = "rgb(142, 166, 235)";
            document.querySelector("#real1").innerHTML = content[0];
            document.querySelector("#real2").innerHTML = content[1];
            a = content[2];
            document.querySelector("#reps").innerHTML = content[2];
          } else {
            if (content[0] == "Stand in view of the camera") {
              document.querySelector("#real1").style.color =
                "rgba(255, 62, 25, 0.85)";
              document.querySelector("#real1").innerHTML = content[0];
            } else {
              document.querySelector("#real1").style.color =
                "rgb(142, 166, 235)";
              document.querySelector("#real1").innerHTML = content[0];
            }
            document.querySelector("#real2").innerHTML = "";
            a = content[1];
            document.querySelector("#reps").innerHTML = content[1];
          }
        } else {
          document.querySelector("#real1").style.color = "rgb(142, 166, 235)";
          document.querySelector("#real1").innerHTML = "";
          document.querySelector("#real2").innerHTML = "";
          a = content[0];
          document.querySelector("#reps").innerHTML = content[0];
        }
        if (a == 3) {
          a = -1
          window.location.replace("{% url 'main:result' %}");          
        }
      };

      eventsource.onerror = function (e) {
        console.log(`error:`, e);
      };
    </script>
  </body>
</html>
