{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      href="https://fonts.googleapis.com/css2?family=Kameron:wght@700&family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      .end-main {
        position: fixed;
        top: 10%;
        left: 52%;
        margin-top: -50px; /* Negative half of height. */
        margin-left: -100px; /* Negative half of width. */
        z-index: 999;
      }
      .end-main a {
        all: unset;
        padding: 15px 15px 15px 15px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 1px;
        display: inline-block;
        border-radius: 50px;
        transition: 0.5s;
        margin: 0 0 0 0;
        color: #fff;
        background: #e2756bc4;
        text-decoration: none;
      }

      .end-main a:hover {
        background: #ea4435c4;
      }

      input[type=submit]{
        border-radius: 50px;
        background-color: #ea5c3e;
        font-size: 17px;
        font-family: "Raleway", sans-serif;
        border: none;
        color: white;
        padding: 13px 25px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container mx-auto">
      <div class="end-main btn">
        {% comment %} <a
          class="fin"
          href="javascript:{document.getElementById('finish').submit()}"
        >
          Finish exercise
        </a> {% endcomment %}
        <form id="finish" method="POST" onsubmit="onFin()">
          <label for="finish"> 
          {% csrf_token %}
          <input name="repAbort" type="hidden" />
          <input type="submit" value="End exercise" />
        </form>
      </div>
    </div>
    <div
      id="left-screen"
      style="
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
      "
    >
      <img
        style="
          position: absolute;
          right: 3%;
          transform: translateX(-50%) scaleX(1);
          height: 100%;
        "
        src="{% url 'main:webcam_feed' %}"
      />
    </div>
    <div
      style="
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
          url('{{ videos.video.url }}');
        background-size: cover;
        overflow: hidden;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width:40%;
        text-align: left;
        padding: 30px;
        box-sizing: border-box;
        line-height:1.1;
        
      "
      id="left-screen"
    >
      <div
        id="real1"
        class="text"
        style="
          padding: 0;
          color: rgb(142, 166, 235);
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 90px;
        "
      ></div>
      <div
        id="real2"
        class="text"
        style="
          margin-top: 50px;
          color: rgb(105, 211, 111);
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          font-size: 90px;
        "
      ></div>
    </div>
    <div
      id="reps-outer"
      style="
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 70px;
        position: fixed;
        left: 0;
        top: 14px;
        width: 100%;
      "
    >
      Reps:
      <div
        id="reps"
        style="
          font-family: 'Kameron', sans-serif;
          font-size: 100px;
          color: rgb(142, 166, 235);
          position: fixed;
          top: 0;
          width: 100%;
          margin-left: 200px;
        "
      ></div>
    </div>
    <audio  id="audiotag1" src="{% static 'criston.mp3' %}" preload="auto"></audio>
    
        
    <script>
      var eventsource = new EventSource("{% url 'main:realtime_feed' %}");
      eventsource.onopen = function () {
        console.log("we have open connection");
      };

      var repNoGlobal = -1;
      var maxGlobal = -1;

      eventsource.onmessage = function (e) {
        
        finalData = JSON.parse(e.data);

        let content = finalData.map(String).filter((item) => item);

        var repNo = -1;
        var max = -1;

        if (content[0].length > 4) {
          if (content[1].length > 4) {
            document.querySelector("#real1").style.color = "rgb(142, 166, 235)";
            document.querySelector("#real1").innerHTML = content[0];
            document.querySelector("#real2").innerHTML = content[1];
            repNo = content[2];
            document.querySelector("#reps").innerHTML = content[2];
            max = content[3];
          } else {
            if (content[0] == "Stand in view of the camera") {
              document.querySelector("#real1").style.color =
                "rgba(255, 62, 25, 0.85)";
              document.querySelector("#real1").innerHTML = content[0];
            } else {
              document.querySelector("#real1").style.color =
                "rgb(142, 166, 235)";
              document.querySelector("#real1").innerHTML = content[0];
            }
            document.querySelector("#real2").innerHTML = "";
            repNo = content[1];
            document.querySelector("#reps").innerHTML = content[1];
            max = content[2];
          }
        } else {
          document.querySelector("#real1").style.color = "rgb(142, 166, 235)";
          document.querySelector("#real1").innerHTML = "";
          document.querySelector("#real2").innerHTML = "";
          repNo = content[0];
          document.querySelector("#reps").innerHTML = content[0];
          max = content[1];
        }
        repNoGlobal = repNo;
        maxGlobal = max;
        if (repNoGlobal == maxGlobal) {
          window.location.replace("{% url 'main:result' %}");
        }
      };

      var sound1 = new Audio('{% static 'criston.mp3' %}');
      var playSound = function() {
        if( 29 == 29 ){
          sound1.play();
        }
        else {
          sound1.play();
        }
      };

      playSound();

      function onFin() {
        maxGlobal = repNoGlobal;
        console.log(repNoGlobal);
         var formInfo = document.forms['finish'];
         formInfo.repAbort.value = repNoGlobal;
        {% comment %} window.location.replace("{% url 'main:result' %}"); {% endcomment %}
      }

      eventsource.onerror = function (e) {
        console.log(`error:`, e);
      };
    </script>
  </body>
</html>
